apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ca-cert
  namespace: default
spec:
  isCA: true
  commonName: sample-root-cert
  secretName: ca-cert-secret
  subject:
    organizations:
      - sample-ca-org
  duration: 8760h
  privateKey:
    algorithm: RSA
    size: 2048
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: local-issuer
  namespace: default
spec:
  ca:
    secretName: ca-cert-secret