name: test operator release to community-operators
on:
  pull_request:
    branches: [ main ]

env:
  VERSION: '0.0.0'

permissions:
    packages: write
    attestations: write
    id-token: write
    contents: write
    pull-requests: read

jobs:
    generate-olm-bundle:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Build operator bundle image
              run: make bundle

            - name: Compress OLM Bundle
              run: tar --use-compress-program zstd -cf olm-bundle-clickhouse.tzst -C bundle .

            - name: Upload operator OLM bundle
              uses: actions/upload-artifact@v4
              with:
                  name: olm-bundle-clickhouse
                  path: olm-bundle-clickhouse.tzst
                  if-no-files-found: error
                  retention-days: 7

    community-operators-release:
        runs-on: ubuntu-latest
        needs: [ generate-olm-bundle ]
        strategy:
            matrix:
                include:
                    - upstream_repo: k8s-operatorhub/community-operators
                      fork_repo: ClickHouse/community-operators
                    # Add OpenShift community-operators release
        steps:
            - name: Set variables
              run: |
                echo "branch=clickhouse-operator-${{ env.VERSION }}" >> $GITHUB_ENV

            - name: Generate Token
              id: generate-token
              uses: actions/create-github-app-token@v2
              with:
                app-id: ${{ secrets.WORKFLOW_AUTH_PUBLIC_APP_ID }}
                private-key: ${{ secrets.WORKFLOW_AUTH_PUBLIC_PRIVATE_KEY }}
                repositories: |
                  clickhouse-operator
                  community-operators
                permission-contents: write
                permission-pull-requests: write

            - name: Download ClickHouse Operator OLM bundle
              uses: actions/download-artifact@v4
              with:
                  name: olm-bundle-clickhouse

            - name: Clone community-operators
              uses: actions/checkout@v6
              with:
                  repository: ${{ matrix.fork_repo }}
                  path: community-operators

            - name: Make changes and push to the fork
              working-directory: community-operators
              env:
                  GH_TOKEN: ${{ steps.generate-token.outputs.token }}
              run: |
                  git remote add upstream https://github.com/${{ matrix.upstream_repo }}.git
                  git fetch upstream main
                  git checkout -b ${{ env.branch }} upstream/main

                  mkdir -p operators/clickhouse-operator/${{ env.VERSION }}
                  tar -C operators/clickhouse-operator/${{ env.VERSION }} --use-compress-program="zstd -d" -xf ../olm-bundle-clickhouse.tzst

                  git add operators/

                  git config user.name 'clickhouse-operator-release[bot]'
                  git config user.email 'operator@clickhouse.com'
                  git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/${{ matrix.fork_repo }}.git

                  git commit -s -m "Update clickhouse-operator (${{ env.VERSION }})"
                  git push -u origin ${{ env.branch }} -f

            - name: Open PR to community-operators
              working-directory: community-operators
              env:
                GH_TOKEN: ${{ steps.generate-token.outputs.token }}
              run: |
                  prOpen=$(gh pr view ${{ env.branch }} -R ${{ matrix.upstream_repo }} --json closed --jq '.closed' 2>/dev/null | grep -q false && echo "true" || echo "false")

                  if [[ "$prOpen" == "false" ]]; then
                    gh pr create \
                      --title "Update clickhouse-operator (${{ env.VERSION }})" \
                      --repo ${{ matrix.upstream_repo }} \
                      --base main \
                      -F docs/pull_request_template.md \
                      --head ClickHouse:${{ env.branch }}
                  else
                    echo "PR already exists, skipping..."
                  fi
